.bg-dark {
    background-color: whitesmoke;
}

.form-control {
    margin-bottom: 10px;
}

#searchedCity {
    display: flex;
    align-items: center;
}
.card-title, .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
}

.card, .btn {
    box-shadow: -3px -3px 6px grey;
}

.card-body h5 {
    font-size: 2vw;
}

.card-body p {
    margin-bottom: 0;
}

#headerBG {
    margin-bottom: 10px;
}

@media only screen and (max-width: 575px) {
    #cityBtn {
        display: none;
    }
}